{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'colocar la ruta del css aqui' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="container">
        <header>
            <h1>PLATAFORMA DE GESTION DE PROYECTOS</h1>
       

        <section class="form-container">
            <form method="post">
                {% csrf_token %}
                {% csrf_token %}
            </form>
        </section>
        <section class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
            
                    
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proy in proyecto %}
                    <tr>
                        <td>{{ proy.id }}</td>
                        <td>{{ proy.nombre }}</td>
                        <td>{{ proy.descripcion }}</td>
            
                        <td><a href="{% url 'proyectos:' proy.id %}"><i class="fas fa-edit"></i>
                                Editar</a></td>
                        <td><a href="{% url 'proyectos:eliminareliminarequipo' proy.id %}"><i class="fas fa-trash-alt"></i>
                                Eliminar</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</body>

</html>