{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Crear Tarea - Plataforma de Gestión de Proyectos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Crear Tarea</h1>
        </header>
    
        <section class="form-container">
            <form action="{% url 'tareas:creartarea' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Guardar</button>
            </form>
        </section>


        <section>
          
        </section>
    </div>
</body>
</html>
