{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <header>
        <h1>Crear Tarea</h1>
        <h2>Primeras Tareas</h2>
    </header>

    <section class="form-container">
        <form action="{% url 'tareas:creartarea' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Guardar</button>
            <a href="{% url 'tareas:tareaInicio' %}">volver</a> 
        </form>
    </section>
    <section>
    </section>
</div>
{% endblock %}