{% load static %}
<!DOCTYPE html>
<html>
    <link type='text/css' href='{% static "css/estilo.css" %}', rel='stylesheet'/>
<head>
    <title>Editar Tarea - Plataforma de Gestión de Proyectos</title>
</head>
<body>
    <h1>Editar Tarea</h1>
    <a href="{% url 'tareas:listartareas' %}">Volver a la lista de tareas</a>
    <form action="{% url 'tareas:editartarea' pk=tarea.pk %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>
</body>
</html>
