{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    <title>Detalle del Reporte</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Detalles del Reporte</h1>
            <a href="{% url 'reporte:listar_reportes' %}">Volver a Reportes</a>
        </header>
        <section class="reporte-detalles">
            <h2>{{ reporte.titulo }}</h2>
            <p><strong>Fecha de Creación:</strong> {{ reporte.fecha_creacion }}</p>
            <p><strong>Tipo de Reporte:</strong> {{ reporte.tipo }}</p>
            <p><strong>Descripción:</strong> {{ reporte.descripcion }}</p>
        
            <h3>Tareas Asociadas</h3>
            <ul>
                {% for tarea in tareas %}
                <li>{{ tarea.nombre }} - Estado: {{ tarea.estado }}</li>
                {% empty %}
                <li>No hay tareas asociadas a este reporte.</li>
                {% endfor %}
            </ul>
        
            <h3>Proyecto Asociado</h3>
            <ul>
                <li>{{ proyecto.nombre }} - Equipo: {{ proyecto.equipo.nombre }}</li>
            </ul>
        </section>
        <h3>Archivo del Reporte</h3>
        {% if reporte.archivo %}
    
        <a href="{{ reporte.archivo.url }}" download>{{ reporte.archivo.name }}</a>
        {% else %}
        <p>No hay archivo disponible para este reporte.</p>
        {% endif %}
            
</body>

</html>