{% extends 'base.html' %}

{% block titulo %}Gestión de Reportes{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Gestión de Reportes</h2>
    <p class="text-center text-muted">Elige una opción para crear o gestionar reportes.</p>

    <!-- Contenedor de las opciones de acciones -->
    <div class="row mt-4">
        <!-- Opción: Crear Reporte -->
        <div class="col-md-6">
            <a href="{% url 'reporte:crear_reporte' %}" class="text-decoration-none">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        <i class="fas fa-file-alt fa-3x text-primary mb-3"></i> <!-- Ícono de reporte -->
                        <h5 class="card-title">Crear Reporte</h5>
                    </div>
                </div>
            </a>
        </div>

        <!-- Opción: Ver Reportes -->
        <div class="col-md-6">
            <a href="{% url 'reporte:listar_reportes' %}" class="text-decoration-none">
                <div class="card text-center shadow-sm">
                    <div class="card-body">
                        <i class="fas fa-eye fa-3x text-primary mb-3"></i> <!-- Ícono para ver reportes -->
                        <h5 class="card-title">Ver Reportes</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}
