<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina base</title>
</head>
<body>
    
<nav>
    <ul>
        <li>
            <a href="/registro">registrarse</a>

        </li>
        <li>
            <a href="/tareas">Tareas</a>

        </li>
        <li>
            <a href="/principal">inicio</a>

        </li>

    </ul>

</nav>



{% block content %}

{% endblock %}


</body>
</html>