{% extends "base.html" %}
{% load static %}  <!-- Cargar la etiqueta 'static' para usar archivos estáticos -->

{% block titulo %}Calendario{% endblock %}

{% block extra_styles %}
    <link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css" rel="stylesheet" />
    <link href="{% static 'Menu/css/calendario.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h2 class="text-center">Calendario de Tareas y Proyectos</h2>
        <div id="calendar" class="shadow p-4 mt-4" style="background-color: white; border-radius: 15px;"></div>
    </div>
{% endblock %}


{% block extra_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: '/calendario/',
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                themeSystem: 'bootstrap',
                eventColor: '#FF5733',
                editable: true,
                eventTimeFormat: { hour: '2-digit', minute: '2-digit', meridiem: false },
                height: 'auto'
            });
            calendar.render();
        });
    </script>
{% endblock %}
