
{% extends 'base.html' %}



{% block content %}


<h1>Pagina principal </h1>



<h2> Por que deberias usar nuestro Producto?</h2>

<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod deserunt dolore voluptates tempora atque laudantium eveniet, aliquam soluta nam architecto nesciunt aut. Ad cum iusto consectetur aliquam architecto, labore magni.</p>



<h2> Que ofrecemos?</h2>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis quidem neque cum, optio aspernatur accusantium nemo molestiae nostrum aut velit quasi? Ducimus officiis ab nulla, minima molestias perspiciatis facere id.</p>

{% endblock %}