{% extends 'base.html' %}



{% block content %}


<h1>Pagina principal </h1>



<h2> Por que deberias usar nuestro Producto?</h2>

<p> "Facilitamos la gestión de proyectos de principio a fin, optimizando el trabajo en equipo y garantizando el éxito en cada tarea.".</p>



<h2> Que ofrecemos?</h2>

<p>Colaboración eficiente: "Una plataforma diseñada para que los equipos trabajen juntos de manera eficaz."
    Gestión simplificada: "Organiza, asigna y monitoriza todas tus tareas y proyectos desde un solo lugar."
    Control total: "Monitorea el progreso, cumple los plazos y mantén el control sobre cada etapa del proyecto."
    Fácil de usar: "Una interfaz intuitiva que simplifica el trabajo diario, incluso en los proyectos más complejos."
    .</p>

{% endblock %}